<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>About</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
  {{>navbar}}
  <div class="bg-white py-6 sm:py-8 lg:py-12">
    <div class="mx-auto max-w-screen-xl px-4 md:px-8">
      <div class="grid gap-4 md:grid-cols-2 lg:gap-12">
        <div>
          <div class="h-64 overflow-hidden rounded-lg bg-gray-100 shadow-lg md:h-5/6">
            <img src="images/IMG_3202.JPG" loading="lazy" alt="Photo by Abhishek Mishra"
              class="h-full w-full object-cover object-center" />
          </div>
        </div>

        <div class="md:pt-8">
          <p class="text-center font-bold text-indigo-500 md:text-left">Abhishek Mishra</p>

          <h1 class="mb-4 text-center text-2xl font-bold text-gray-800 sm:text-3xl md:mb-6 md:text-left">Introduction</h1>

          <p class="mb-6 text-gray-500 sm:text-lg md:mb-8">
            "Hello! I'm Abhishek, a Final-year IT student of BE from TCET Mumbai India, I would like to build solution which is
            related some real life problem . I usually work on Web development, and sometime also try Blockchain and New
            textstack. I am enthusiast in exploring different project and and working on it and love to participate in
            different competition,hackathons etc . I am constantly eager to learn new things apart from this I love
            delevering lectures and helping students to understand different concept related to chemistry and some
            technical work Mentoring the student to clear the competition of NEET,JEE,Board Exam etc"<br /><br />

          </p>

          <h2 class="mb-2 text-center text-xl font-semibold text-gray-800 sm:text-2xl md:mb-4 md:text-left">About us
          </h2>

          <p class="mb-1 text-gray-500 sm:text-lg md:mb-2">I am much Passionate to Solve real life Problem By
            <ul>
              <li>Birthday:11 August 2002</li>
              <li>Website:https://ysabhishekmishra.netlify.app/</li>
              <li>Phone:+91 8828499486</li>
              <li>City:Mumbai Maharashtra, India</li>
              <li>Age:20</li>
              <li>Degree:BE</li>
              <li>Email:ysabhishekmishra@gmail.com</li>
              <li>Website:<a href="https://ysabhishekmishra.netlify.app/">Click Me</a></li>
            </ul>
            </p>
        </div>
      </div>
    </div>
  </div>
  {{>footer}}
  {{>floting}}
</body>

</html>