<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>wether</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="css/wether.css" rel="stylesheet">
</head>

<body>
    {{>navbar}}

    <div class="beech">
        <form class="flex w-full gap-2 md:max-w-md">
            <input placeholder="Enter the city Name" id="city_input"
                class="w-full flex-1 rounded border bg-gray-50 px-3 py-2 text-gray-800 placeholder-gray-500 outline-none ring-indigo-300 transition duration-100 focus:ring" />

            <button
                class="inline-block rounded bg-indigo-500 px-8 py-2 text-center text-sm font-semibold text-white outline-none ring-indigo-300 transition duration-100 hover:bg-indigo-600 focus-visible:ring active:bg-indigo-700 md:text-base"
                id="search">Search Mausam</button>
        </form>
    </div>





    <div class="mx-auto max-w-screen-2xl px-4 md:px-8">
        <div
            class="relative mx-auto flex h-96 w-full items-center justify-center overflow-hidden rounded-lg bg-gray-200 shadow-lg sm:w-96">

            <!-- content - start -->
            <div class="relative flex flex-col items-center justify-center p-8 md:p-16">

                <p class="mb-8 text-center text-black-200 md:text-lg" id="country">Country</p>
                <div class="data_hide" id="data_hide">
                    <p class="mb-2 text-center text-2xl font-bold text-black md:text-3xl lg:text-4xl"><span
                            id="temp">0</span><span><sup> O</sup>C</span></p>

                    <h1 class="icons" id="icons"></h1>

                </div>
            </div>
            <!-- content - end -->
        </div>
    </div>

    {{>footer}}
    {{>floting}}


    <script src="js/index.js"></script>

</body>

</html>